#tooltip {

	position: absolute;
	z-index: 3000;
	background: #FFF9C2;
	border: solid 2px #FFCC34;
	color: #a48016;
	font-weight: normal;
	padding: 4px 8px;
	width: auto;
	max-width: 200px;
	font-size: 10px;
	opacity: 0.87;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 0 6px #000;


}
#tooltip h3, #tooltip div {
	margin: 0;
	font-weight: normal;
	line-height: 14px;

}
#tooltip h3 {
	margin: 0;
	padding: 0;
}

#tooltip_svg {

	position: absolute;
	z-index: 3000;
	background: #FFF9C2;
	border: solid 2px #FFCC34;
	color: #a48016;
	font-weight: normal;
	padding: 4px 8px;
	width: auto;
	max-width: 800px;
	font-size: 10px;
	opacity: 0.75;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 0 6px #000;


}
#tooltip_svg h3, #tooltip_svg div {
	margin: 0;
	font-weight: normal;
	line-height: 14px;

}
#tooltip_svg h3 {
	margin: 0;
	padding: 0;
}

