<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="../static/js/jquery-1.8.2.min.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="../static/css/validationEngine.jquery.css" />
		<script src="../static/js/jquery.validationEngine-en.js"></script>
		<script src="../static/js/jquery.validationEngine.js"></script>
		<script type="text/javascript">
			var $sub = $.noConflict(true);
		</script>
		<script type="text/javascript">
			var cust_id = "{{ calibdata['pot']}}";
			var cust_value = "{{ calibdata['impedanceval']}}";
			//alert(cust_value);
			var calstatus = '{{ calibdata['running'] }}';

			$sub(document).ready(function () {
				if(cust_id == "Custom") {
					$sub("#CUST_VAL").show();
					
				}
				refreshPage();
				getCheckCalibration();
				initValidation();			
			});

			function getCheckCalibration() {
				if ( calstatus == 1) {
					start_calib();
				} 
			}


			function initValidation() {
					$sub("#STPS").attr("data-validation-engine","validate[required,custom[onlyNumberSp]]");
					$sub("#STPS").attr("data-validation-engine","validate[required,custom[onlyNumberSp],min[24],max[100]]");
					$sub("#calibconfig").validationEngine('attach', {promptPosition : "bottomRight"});
			
			}

			function submitData() {
				if($sub("#calibconfig").validationEngine('validate')) {
					
					$sub("#CPVALUE").val($sub("#CPVALUE_f").val());
					$sub("#CUST_VAL").val();
					$sub("#STPS").val();
					$sub("#STP_OPT").val();
					
					var formObj = document.forms[0];
					formObj.submit_action.value = "1";
					formObj.submit();
				}
			}

			function start_calib() {
				if($sub("#calibconfig").validationEngine('validate')) {
				
					var pot = $sub("#CPVALUE_f").val();
					var impd= $sub("#CUST_VAL").val();
					var steps = $sub("#STPS").val();
					
					parent.callCalibrationPage(pot, impd, steps, 'calibrationresult', 400, 700);	
				}
			}



	
			function setpot() {
				var p_val = $sub("#CPVALUE_f").val();
				if(p_val == "Custom") {
					$sub("#CUST_VAL").show();
					$sub("#CUST_VAL").val(cust_value);
				} else {
					$sub("#CUST_VAL").hide();
					if(p_val == "10")
						$sub("#CUST_VAL").val(10);
					if(p_val == "30")
						$sub("#CUST_VAL").val(30);
					if(p_val == "60")
						$sub("#CUST_VAL").val(60);
					if(p_val == "80")
						$sub("#CUST_VAL").val(80);
				}	
			}



			function refreshPage() {
				var ref = "{{ calibdata['refresh'] }}";
				if(ref == "1") {
					parent.refreshFrame();
				}
			}


		</script>
	</head>
	<body onclick="javascript: parent.hideMenu()">
		<div class="content">
			<h1>Calibration<img src="../static/images/icn_help.png" style="margin-left: 10px; cursor: pointer" onclick="parent.helpPage(0)" /></h1>
			<div id="sipstatusbody" style="height: ; overflow-y: hidden; width: 95%; overflow-x: hidden">
				<div id="page-content">
					<div class="clear"></div>
					<div class="vspacer12px"></div>
					<div id="table-list">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<th width="760" class="btt" scope="col" style="font-size: 14px">Calibration</th>
							</tr>
						</table>
						<form id="calibconfig" name="calibconfig" method="post" action="" autocomplete="off" onsubmit="return false">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="yui">
							<tbody>
								<tr style="background-color:#f3f3f3" height="5"><td></td></tr>
								<tr style="background-color:#f3f3f3">
									<td>
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="yui">
											<tr>
												
												<td>
													<table width="100%" border="0" cellspacing="1" cellpadding="0" class="yui">
														<tr style="font-size: small">
														</tr>
														<tr>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr style="background-color:#fff">
									<td>
										<table width="100%" border="0" cellspacing="0" cellpadding="0" class="yui">
											<tr>
												<td style="font-size: 16px; font-weight: bold">
										<label style="">
										PoT Value &nbsp;&nbsp;&nbsp;&nbsp; </label> 										
												</td>
												<td style="font-size: 13px; font-weight: bold">
												<select id="CPVALUE_f" name="CPVALUE_f" class="ipDrpBox" onchange="setpot()" onkeyup="setpot()" >
									<option value="10" {{ "selected" if calibdata['pot'] == "10" }} >10</option>
									<option value="30" {{ "selected" if calibdata['pot'] == "30" }} >30</option>
									<option value="60" {{ "selected" if calibdata['pot'] == "60" }} >60</option>


									<option value="80" {{ "selected" if calibdata['pot'] == "80" }} >80</option>
									<option value="Custom" {{ "selected" if calibdata['pot'] == "Custom" }} >Custom</option>
									</select>
									<input maxlength="5" style="display:none" value="{{ calibdata['impedanceval'] }}" id="CUST_VAL" name="CUST_VAL" type="text" class="ipBox" />
									&nbsp;<label style="font-size: 10px">Kohms &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AT 25 &#x2103</label>

												</td>
											</tr>
											
											<tr>
												<td style="font-size: 16px; font-weight: bold">
										<label style="">
										Number of Steps&nbsp;&nbsp;&nbsp;&nbsp; </label> 											
												</td>
												<td style="font-size: 13px; font-weight: bold">
												<input type="text" maxlength="15" class="ipBox" id="STPS" name="STPS"  style="text-align: right;" value="{{ calibdata['calibsteps'] }}" />
										&nbsp;<label style="font-size: 10px">default 48</label>
												</td>
											</tr>
											<tr style="display:none">
												<td style="font-size: 16px; font-weight: bold">
										<label style="">
										Manually Enter Steps &nbsp;&nbsp;&nbsp;&nbsp; </label> 									
												</td>
												<td style="font-size: 13px; font-weight: bold">
												<select id="STP_OPT" name="STP_OPT" class="ipDrpBox" >
									<option value="Yes" {{ "selected" if calibdata['customsteps'] == "Yes" }} >Yes</option>
									<option value="No" {{ "selected" if calibdata['customsteps'] == "No" }} >No</option>

									</select>
									

												</td>
											</tr>
											<tr> 
											<td style="font-size: 13px; font-weight: bold">
											</td>
											<td id="gpio_40_td" style="font-size: small">
								
											<a onclick="start_calib()" style="margin-top: 0px" class="btn-grey-wide-l-2" ><span>Start</span></a>
											</td>
											
											</tr>


										</table>
									</td>
								</tr>
								
								<tr style="background-color:#f3f3f3"><td>&nbsp;</td></tr>
							</tbody>
						</table>
						<input type="hidden" name="CPVALUE" id="CPVALUE" value="" />
						<input type="hidden" name="submit_action" value="0" />
						</form>
					</div>
				</div>

			</div>
			<div class="page-btns">
			
			</div>
		</div>
	</body>
	<script type="text/javascript">
		
	</script>
</html>
