<div id="accordion" style="padding: 10px; color:#DDDDDD; ">
	<h3 onclick="openPageTab('home')" style="font-size: 14px;">Home<img id="dashboard-arrow" src="../static/images/selected_arrow.png" align="right" style="padding: 3px; display: block" /></h3>
	<div></div>
	<h3 onclick="openPageTab('calibration')" style="font-size: 14px;">Calibration<img id="board-test-arrow" src="../static/images/selected_arrow.png" align="right" style="padding: 3px; display: none" /></h3>
	<div></div>
	<h3 onclick="openPageTab('monitor')" style="font-size: 14px;">Monitor<img id="board-test-arrow" src="../static/images/selected_arrow.png" align="right" style="padding: 3px; display: none" /></h3>
	<div></div>
	<h3 onclick="openPageTab('saved-values')" style="font-size: 14px;">Saved Values<img id="test-report-arrow" src="../static/images/selected_arrow.png" align="right" style="padding: 3px; display: none" /></h3>
	<div></div>
</div>
