<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />		
		<style type="text/css" title="currentStyle">
			@import "../static/css/demo_page.css";
			@import "../static/css/demo_table_jui.css";
			@import "../static/css/jquery-ui-1.8.4.custom.css";
			/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
				border: 1px solid #d3d3d3;
				background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400-sub.png) 50% 50% repeat-x;
				font-weight: normal;
				color: #fff;
			}
			.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
				color: #fff;
				text-decoration: none;
			}*/
		
		</style>
		<script src="../static/js/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/jquery.dataTables.js"></script>
		
		<script type="text/javascript">
			var paging = '<?php echo $paging ?>';
			paging = parseInt(paging);
			
			$(document).ready(function() {
				
				
				oTable = $('#Treport').dataTable({
					"sScrollY": 216,
					"bJQueryUI" : true,
					"sPaginationType" : "full_numbers",
					"iDisplayLength": paging,
					"aLengthMenu": [[5, 10, 20, 30, -1], [5, 10, 20, 30, "All"]],
					"sDom": 'lfrtip' //shows on table with headers and data(i.e. without any header or footer)
				});
				
				jQuery.fn.dataTableExt.oSort['html-undefined']  = function(a,b) {
				    return false;
				};
				
				$('.sorting_disabled').unbind('click');
				$('.sorting_disabled span').remove();
				
				$("#siptrunks_paginate").click(function() {
					$("input:checkbox").each(function() {
						$(this).attr("checked", "");
					});
				});
				
				/* Data-tables End */
				
				var i = 0;
				$("input:checkbox[name='chkbox']").each(function() {
					i++;
				});
				if(i == 0) {
					$("#checkall").attr("disabled", "disabled");
				}
				
				$("#checkall").click(function() {
					if ($("#checkall").is(":checked")) {
						$("input[type='checkbox']").attr("checked", "checked");
						$("#delete_selected").attr('class','btn-grey-wide-l');
						$('#delete_selected').click(function() {
							delete_data_all();
						});
					} else {
						$("input[type='checkbox']").attr("checked", "");
						$("#delete_selected").attr('class','btn-grey-wide-l-disabled');
						$('#delete_selected').attr('onclick','').unbind('click');
					}
				});
			});
			
			function uncheck() {
				var i = 0;
				$("input:checkbox[name='chkbox']:checked").each(function() {
					i++;
				});
				if(i == 0) {
					$("#delete_selected").attr('class','btn-grey-wide-l-disabled');
					$('#delete_selected').attr('onclick','').unbind('click');
				} else {
					$("#delete_selected").attr('class','btn-grey-wide-l');
					$('#delete_selected').click(function() {
						delete_data_all();
					});
				}
				if ($("#checkall").is(":checked")) {
					$("#checkall").attr("checked", "");
				}
			}
			
			function getsysLogData() {
				AjaxCall("syslog-read", 1);
				
			}
			

			var httpObj = getHTTPObject();

			function getHTTPObject() {
				var xmlhttp;
				if (window.XMLHttpRequest) {
					xmlhttp = new XMLHttpRequest();
				} else if (window.ActiveXObject) {
					xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
					if (!xmlhttp) {
						xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
					}
				}
				return xmlhttp;
			}
			
			function AjaxCall(ajax_URL, id) {
				httpObj.open("GET", ajax_URL, true);
				if (id == 1) {
					httpObj.onreadystatechange = handleINFO;
				}
				httpObj.send(null);
			}
			
			function handleINFO() {
				if (httpObj.readyState == 4) {
					if (httpObj.status == 200) {
						setINFO(httpObj.responseText);
						}
				}
			}
			
			function setINFO(responseText) {
				//alert(responseText);
				document.getElementById("testresult").innerHTML = responseText;
			}
		</script>
	</head>
	<body onclick="javascript: parent.hideMenu()" onload="f1('<?php echo $res ?>')">
		<div class="content">
			<h1>System Log<img src="../static/images/icn_help.png" style="margin-left: 10px; cursor: pointer" onclick="parent.helpPage(2)" /></h1>

			<tr style="background-color:#fff">
				<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="yui">
						<tr>
							<td>&nbsp;&nbsp;</td>
							<td style="font-size: 16px; font-weight: bold">
							<label style="">
							PoT : <span>{{ ldrdata['impedanceval']|safe }}</span>kohms &nbsp; Volume: <span>{{ ldrdata['defVolume']|safe }}</span>  at 25 &#x2103 &nbsp;&nbsp;&nbsp;&nbsp; </label> 								</td>
							
						</tr>
					</table>
				</td>
			</tr>


			<div class="content" style="width: 1000px">
		
			<div class="pgtitle"><label id="pagetitle">Sys log</label></div>
			<div class="popup-content" style="overflow:auto; height: 270px">
				<div style="font-size: 12px; margin-left: 10px">
				<pre id="testresult"></pre>
				</div>
			</div>
			<div class="popup-footer"  style="height: 20px">
				
			</div>
		
			</div>
			
		</div>
		<form id="deleteform" method="post" action="">
			<input type="hidden" name="submit_action" value="0" />
			<input type="hidden" name="TRUNK" id="TRUNK" value="" />
			<input type="hidden" name="TRUNKLIST" id="TRUNKLIST" value="" />
		</form>
		<script>getsysLogData();</script>
	</body>
</html>
